.error-header {
  background-color: #e85e6c;
  display: inline !important;
  text-align: center;
  padding: 2rem !important;
}

.error-icon {
  font-size: 6.5rem;
  color: white;
}

.custom-body {
  text-align: center;
}

.btn-danger {
  background-color: #e85e6c !important;
  border-color: #e85e6c !important;
}
